@model Inveni.Models.TematicaMestre

@{
    ViewData["Title"] = "Delete";
}

<div class="row">
    <div class="col-3">
        <div class="d-flex flex-column align-items-center mt-4">
            <p class="d-flex align-items-center">
                <img id="voltar-imagem"
                     width="30"
                     height="30"
                     src="https://img.icons8.com/external-solid-adri-ansyah/64/007BFF/external-ui-basic-ui-solid-adri-ansyah-26.png"
                     alt="plus--v1"
                     style="cursor: pointer;" />
                <a asp-action="Index" class="ms-2 me-2 text-black" style="text-decoration: none; font-size: 20px;"></a>
            </p>
        </div>
    </div>
    <div class="col-6">
        <div class="d-flex flex-column align-items-center mt-4">
            <h1>Minhas Temáticas</h1>
        </div>
    </div>
    <div class="col-3"></div>
    <div class="col-3"></div>
    <div class="col-6">
        <div class="d-flex flex-column align-items-center mt-2 mb-1">
            <p class="d-flex align-items-center" style="font-size: 25px" ;>
                Excluir
                <img width="25" height="25" class="ms-2" src="https://img.icons8.com/ios-filled/50/007BFF/trash.png" alt="waste" />
            </p>
        </div>
    </div>
    <div class="col-3"></div>
</div>

<div class="row">
    <div class="col-3">
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <form asp-action="Delete">
                    <dl class="row">
                        <div class="col-sm-12 text-center mb-3">
                            <h4>Dados da Temática</h4>
                        </div>
                        <dt class="col-sm-2">
                            Temática
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Tematica.Descricao)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Modelo)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Modelo.Descricao)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Ativo)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Ativo)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Biografia)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Biografia)
                        </dd>
                        <div class="form-group col-12 mt-3 text-center">
                            <input type="hidden" asp-for="TematicaId" />
                            <input type="hidden" asp-for="UsuarioId" />
                            <input type="submit" value="Confirmar" class="btn btn-primary text-white" />
                        </div>
                    </dl>
                </form>
            </div>
        </div>
    </div>
    <div class="col-3">
    </div>
</div>


<script>
    document.getElementById("voltar-imagem").addEventListener("click", function () {
        // Quando a imagem for clicada, redirecionar para a ação "Create"
        window.location.href = "/TematicaMestres/Index"; // Substitua "ControllerName" pelo nome real do seu controlador
    });
</script>