@model Inveni.Models.TematicaMestre

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<@*div>
    <h4>TematicaMestre</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Biografia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Biografia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ativo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tematica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tematica.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Modelo.Descricao)
        </dd>
    </dl>
</div>*@
<div>
    @foreach (var matricula in Model.Matriculas)
    {
            <p>Aprendiz Nome: @(matricula.Aprendiz != null ? matricula.Aprendiz.Nome : "N/A")</p>
                <p>Aprendiz Email: @(matricula.Aprendiz != null ? matricula.Aprendiz.Email : "N/A")</p>
                <!-- Adicione aqui outros detalhes da matrícula se necessário -->
        @*  <a asp-action="FinalizarMatricula" asp-route-id="@matricula.Id">
            Finalizar Matrícula de @matricula.Aprendiz.Nome
        </a>*@
    }
</div>


    <a asp-action="Index">Back to List</a>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
