@model IEnumerable<Inveni.Models.MatriculaMestre>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <div class="d-flex flex-column align-items-center mt-4">
            <h1>Matrículas</h1>
        </div>
    </div>
    <div class="col-3"></div>
    <div class="col-3"></div>
    <div class="col-6">
        <div class="d-flex flex-column align-items-center mt-2 mb-1">
            <p class="d-flex align-items-center">
                <a asp-action="Create" class="ml-2 me-2 text-black" style="text-decoration: none; font-size: 25px;">Cadastrar</a>
                <img id="cadastrar-imagem"
                     width="30"
                     height="30"
                     src="https://img.icons8.com/ios-filled/50/007BFF/plus.png"
                     alt="plus--v1"
                     style="cursor: pointer;" />
            </p>
        </div>
        @*<hr/>*@
    </div>
    <div class="col-3"></div>
</div>
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <table id="tabela-matriculas" class="table">
                    <thead>
                        <tr>
                            <th>

                            </th>
                            <th>
                                Aprendiz
                            </th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                @* <td>
                            @Html.DisplayFor(modelItem => item.Descricao)
                            </td>
                            <td class="text-right align-items-end text-end">
                            <a asp-action="Delete" asp-route-id="@item.Id">
                            <img width="20" height="20" src="https://img.icons8.com/ios-filled/50/007BFF/waste.png" alt="Cadastrar" />
                            </a>
                            </td>*@
                                <td class="align-middle">
                                    <img src="@Url.Content(item.Aprendiz.CaminhoFoto)" alt="Ícone do Usuário" style="width: 25px; height: 25px; border-radius: 50%;" />
                                </td>
                                <td class="align-middle">
                                    @Html.DisplayFor(modelItem => item.Aprendiz.Nome) <br />
                                    @Html.DisplayFor(modelItem => item.Aprendiz.Email)
                                </td>
                                <td class="align-middle">
                                    <a asp-action="Delete" asp-route-id="@Funcoes.EncodeId(item.Id)" class="mx-3">
                                        <img width="20" height="20" src="https://img.icons8.com/ios-filled/50/007BFF/trash.png" alt="Lixeira cheia" />

                                    </a>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-3"></div>
</div>

<link rel="stylesheet" href="https://cdn.datatables.net/2.0.3/css/dataTables.dataTables.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>

<script type="text/javascript">
    var js = jQuery.noConflict(true);
    js(document).ready(function () {
        js('#tabela-matriculas').DataTable();
    });

    document.getElementById("cadastrar-imagem").addEventListener("click", function () {
        // Quando a imagem for clicada, redirecionar para a ação "Create"
        window.location.href = "/MatriculaMestre/Create"; // Substitua "ControllerName" pelo nome real do seu controlador
    });
</script>