@model IEnumerable<Inveni.Models.TematicaMestre>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <div class="d-flex flex-column align-items-center mt-4">
            <h1>Matrículas</h1>
        </div>
    </div>
    <div class="col-3"></div>
    <div class="col-3"></div>
    <div class="col-6">
        <div class="d-flex flex-column align-items-center mt-2 mb-1">
            <p class="d-flex align-items-center">
                <a asp-action="Create" class="ml-2 me-2 text-black" style="text-decoration: none; font-size: 25px;">Cadastrar</a>
                <img id="cadastrar-imagem"
                     width="30"
                     height="30"
                     src="https://img.icons8.com/ios-filled/50/0d6efd/plus.png"
                     alt="plus--v1"
                     style="cursor: pointer;" />
            </p>
        </div>
    </div>
    <div class="col-3"></div>
</div>
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <div class="card">
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Temáticas</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var tematica in Model)
                        {
                            if (tematica.MatriculaMestre.Any())
                            {
                                <tr>
                                    <td>
                                        <strong>@tematica.Tematica.Descricao</strong>
                                    </td>
                                    <td></td>
                                    <td>
                                        <button class="btn btn-primary" onclick="toggleMatriculas(@tematica.TematicaId)">Visualizar Matrículas</button>
                                    </td>
                                </tr>
                                @foreach (var matricula in tematica.MatriculaMestre)
                                {
                                    <tr class="matricula-row @($"matricula-row-{tematica.TematicaId}")" style="display: none;">
                                        <td>
                                            <img src="@Url.Content(matricula.Aprendiz.CaminhoFoto)" alt="User Icon" style="height: 50px; border-radius: 50%;" />
                                        </td>
                                        <td>
                                            <h6>@matricula.Aprendiz.Nome</h6>
                                            <p><strong>Email:</strong> @matricula.Aprendiz.Email</p>
                                        </td>
                                        <td>
                                            <form asp-action="FinalizarMatricula" asp-route-id="@matricula.Id" method="post">
                                                <button type="submit" class="btn btn-danger">Excluir</button>
                                            </form>
                                        </td>

                                    </tr>
                                }
                            }
                           
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-2"></div>
</div>

<!-- Modal -->
<div class="modal fade" id="matriculasModal" tabindex="-1" aria-labelledby="matriculasModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="matriculasModalLabel">Matrículas</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="matriculas-list" style="width: 100%; height: 100%; overflow: auto;"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var js = jQuery.noConflict(true);
    js(document).ready(function () {
        js('#tabela-material').DataTable();
    });

    document.getElementById("cadastrar-imagem").addEventListener("click", function () {
        window.location.href = "/MatriculaMestre/Create";
    });

    var isUserAuthenticated = @(User.Identity.IsAuthenticated.ToString().ToLower());

    function toggleMatriculas(tematicaId) {
        var rows = document.getElementsByClassName(`matricula-row-${tematicaId}`);
        for (var i = 0; i < rows.length; i++) {
            rows[i].style.display = rows[i].style.display === 'none' ? 'table-row' : 'none';
        }
    }

    function finalizarMatricula(id) {
        if (confirm("Tem certeza que deseja excluir esta matrícula? O usuário será notificado!")) {
            js.ajax({
                type: "POST",
                url: '@Url.Action("FinalizarMatricula", "MatriculaMestre")', // Substitua "NomeDoControlador" pelo nome correto
                data: { id: id },
                success: function () {
                    location.reload(); // Recarrega a página após excluir a matrícula
                },
                error: function (xhr, status, error) {
                    alert("Erro ao excluir a matrícula: " + xhr.responseText);
                }
            });
        }
    }
</script>

@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>
}
