@model Inveni.ViewModel.CadastroVM
@{
    ViewData["Title"] = "Create";
}
<div class="row">
    <div class="col-1">
    </div><div class="col-10 align-self-center">
        <div class="card my-5 mx-auto" style="padding: 0px 40px; width: 50%">
            <div class="text-center align-items-center">
                <img src="~/imagens/Inveni logo.png" width="300px" height="300px" alt="" />
            </div>
            <form asp-action="Cadastrar" asp-controller="Usuarios">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group mb-3">
                    <label asp-for="@Model.Nome" class="control-label">Nome:</label>
                    <input asp-for="@Model.Nome" class="form-control mb-3" />
                    <span asp-validation-for="@Model.Nome" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="@Model.Localizacao" class="control-label">Localização:</label>
                    <input asp-for="@Model.Localizacao" class="form-control mb-3" />
                    <span asp-validation-for="@Model.Localizacao" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="@Model.Email" class="control-label">E-mail:</label>
                    <input asp-for="@Model.Email" class="form-control mb-3" />
                    <span asp-validation-for="@Model.Email" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="@Model.Senha" class="control-label">Senha:</label>
                    <input asp-for="@Model.Senha" type="password" class="form-control mb-3" />
                    <span asp-validation-for="@Model.Senha" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="@Model.SenhaConfirmacao" class="control-label">Confirmação de senha:</label>
                    <input asp-for="@Model.SenhaConfirmacao" type="password" class="form-control mb-3" />
                    <span asp-validation-for="@Model.SenhaConfirmacao" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label for="perfilId">Perfil</label>
                    <select class="form-control mb-3" id="perfilId" name="perfilId">
                        <option value="">Selecione</option>
                        <option value="2">Mestre</option>
                        <option value="3">Aprendiz</option>
                    </select>
                </div>
                <div class="form-group mt-2 mb-2 text-center align-items-center">
                    <input type="submit" value="Cadastrar" class="btn btn-warning text-light mt-2" />
                </div>
                
            </form>
        </div>
    </div>
    <div class="col-1">
    </div>
</div>
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
