@model Inveni.ViewModel.CadastroVM
@{
    ViewData["Title"] = "Create";
}

<h1>Cadastro de Usuários</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Cadastrar" asp-controller="Usuarios">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Nome" class="control-label">Nome:</label>
                <input asp-for="@Model.Nome" class="form-control" />
                <span asp-validation-for="@Model.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Localizacao" class="control-label">Localização:</label>
                <input asp-for="@Model.Localizacao" class="form-control" />
                <span asp-validation-for="@Model.Localizacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Email" class="control-label">E-mail:</label>
                <input asp-for="@Model.Email" class="form-control" />
                <span asp-validation-for="@Model.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Senha" class="control-label">Senha:</label>
                <input asp-for="@Model.Senha" class="form-control" />
                <span asp-validation-for="@Model.Senha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.SenhaConfirmacao" class="control-label">Confirmação de senha:</label>
                <input asp-for="@Model.SenhaConfirmacao" class="form-control" />
                <span asp-validation-for="@Model.SenhaConfirmacao" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="perfilId">Perfil</label>
                <select class="form-control" id="perfilId" name="perfilId">
                    <option value="">Selecione</option>
                    <option value="2">Mestre</option>
                    <option value="3">Aprendiz</option>
                </select>
            </div>

            

            <div class="form-group mt-3">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
            </div>
        </form>


    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}