@model IEnumerable<Inveni.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <div class="d-flex flex-column align-items-center mt-4">
            <h1>Usuários</h1>
        </div>
    </div>
    <div class="col-3"></div>
    <div class="col-3"></div>
    <div class="col-6">
        <div class="d-flex flex-column align-items-center mt-2 mb-1">
            <p class="d-flex align-items-center ml-2 me-2 text-black" style="font-size: 25px;" >
                Gerenciamento
                @*<img width="30"
                     height="30"
                     src="https://img.icons8.com/material-sharp/24/list.png"
                     alt="plus--v1"
                     style="cursor: pointer;" />*@
            </p>
        </div>
        @*<hr/>*@
    </div>
    <div class="col-3"></div>
</div>

<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <table id="tabela-usuarios" class="table">
                    <thead>
                        <tr>
                            <th>

                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Nome)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Email)
                            </th>
                            <th class="text-right align-items-center text-center">
                                @Html.DisplayNameFor(model => model.Ativo)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <img src="@Url.Content(item.CaminhoFoto)" alt="User Icon" style="width: 25px; height: 25px; border-radius: 50%;" />
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nome)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                @if ((item.Id).ToString() != User.Identity.Name)
                                {

                                    <td class="text-right align-items-center text-center">
                                        @Html.DisplayFor(modelItem => item.Ativo)
                                    </td>
                                    <td class="text-right align-items-end text-end">
                                        <a asp-action="Edit" asp-route-id="@Funcoes.EncodeId(item.Id)">
                                            <img width="20" height="20" src="https://img.icons8.com/ios-glyphs/30/FD7E14/pencil--v1.png" alt="edit--v1" />
                                        </a>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                    </td>
                                    <td>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-3"></div>
</div>

<link rel="stylesheet" href="https://cdn.datatables.net/2.0.3/css/dataTables.dataTables.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>

<script type="text/javascript">
    var js = jQuery.noConflict(true);
    js(document).ready(function () {
        js('#tabela-usuarios').DataTable();
    });
</script>



