@model IEnumerable<Inveni.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h1>Usuários</h1>

<p>
    <a asp-action="Create">Cadastrar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
                @if ((item.Id).ToString() != User.Identity.Name)
                {

                    <td>
                        @Html.DisplayFor(modelItem => item.Ativo)
                    </td>
                }
                else
                {
                    <td>

                    </td>
                }
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">
                        <img width="20" height="20" src="https://img.icons8.com/ios-glyphs/30/edit--v1.png" alt="edit--v1" />
                </a> |
                <a asp-action="Delete" asp-route-id="@item.Id">
                        <img width="20" height="20" src="https://img.icons8.com/ios-glyphs/30/000000/filled-trash.png" alt="filled-trash" />
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
