@model IEnumerable<Inveni.Models.Material>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <div class="d-flex flex-column align-items-center mt-4">
            <h1>Materiais</h1>
        </div>
    </div>
    <div class="col-3"></div>
    <div class="col-3"></div>
    <div class="col-3">
        <div class="d-flex flex-column align-items-center mt-2 mb-1">
            <p class="d-flex align-items-center">
                <a asp-action="Create" class="ml-2 me-2 btn btn-outline-primary align-items-center" style="text-decoration: none; font-size: 25px;">Carregar</a>
             @*   <img id="cadastrar-imagem"
                     width="30"
                     height="30"
                     src="https://img.icons8.com/ios-filled/50/007BFF/plus.png"
                     alt="plus--v1"
                     style="cursor: pointer;" />*@
            </p>
        </div>
        @*<hr/>*@
    </div>
    
    <div class="col-3">
        <div class="d-flex flex-column align-items-center mt-2 mb-1">
            <p class="d-flex align-items-center">
                <a asp-action="MaterialEnviadoHistorico" class="ml-2 me-2 btn btn-outline-primary align-items-center" style="text-decoration: none; font-size: 25px;">Enviados</a>
             @*   <img id="historico-imagem"
                     width="30"
                     height="30"
                     src="https://img.icons8.com/pastel-glyph/64/007BFF/surprise--v2.png"
                     alt="plus--v1"
                     style="cursor: pointer;" />*@
            </p>
        </div>
    </div>
    <div class="col-3"></div>
</div>
<div class="row">
    <div class="col-3"></div>
    <div    class="col-6">
        <div class="card blue-bordered-card">
            <div class="card-body">
                <table id="tabela-material" class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.NomeArquivo)
                            </th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NomeArquivo)
                                </td>
                                <td class="text-right align-items-end text-end">
                                    <a data-material-id="@item.Id" class="mx-3 compartilhar-link" style="text-decoration: none; color: inherit;">
                                        <img width="20" height="20" src="https://img.icons8.com/ios-filled/50/0d6efd/forward-arrow.png" alt="forward-arrow" />
                                    </a>
                                    |
                                </td>
                                <td class="text-right align-items-end text-end">
                                    
                                    <a href="@Url.Action("Download", "Material", new { materialId = @item.Id })">
                                        <img width="20" height="20" src="https://img.icons8.com/material-sharp/24/007BFF/download--v1.png" alt="Ícone de Download" />
                                    </a>
                                    |
                                </td>
                                <td class="text-right align-items-end text-end">
                                    <a asp-action="Delete" asp-route-id="@Funcoes.EncodeId(item.Id)" class="mx-3">
                                        <img width="20" height="20" src="https://img.icons8.com/ios-filled/50/FD7E14/trash.png" alt="filled-trash" />

                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-3"></div>
</div>


<div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-black text-white">
                <h5 class="modal-title" id="exampleModalLabel">Compartilhar Material</h5>
                <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modalBody">
                <!-- Conteúdo do modal será preenchido dinamicamente -->
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<link rel="stylesheet" href="https://cdn.datatables.net/2.0.3/css/dataTables.dataTables.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>



<script type="text/javascript">
    var js = jQuery.noConflict(true);
    js(document).ready(function () {
        js('#tabela-material').DataTable();
    });

    $(document).ready(function () {
        // Definindo a função toggleMatriculas no escopo global
        window.toggleMatriculas = function (tematicaId) {
            // Fecha todas as linhas de matrícula
            var allRows = document.getElementsByClassName('matricula-row');
            for (var i = 0; i < allRows.length; i++) {
                allRows[i].style.display = 'none';
            }

            // Alterna a exibição da linha de matrícula clicada
            var targetRow = document.getElementById('matricula-row-' + tematicaId);
            if (targetRow.style.display === 'none' || targetRow.style.display === '') {
                targetRow.style.display = 'block';
            } else {
                targetRow.style.display = 'none';
            }
        }
    });
</script>

<script>
    document.querySelectorAll('.compartilhar-link').forEach(function (element) {
        element.addEventListener('click', function (event) {
            event.preventDefault();

            // Obtém o ID do material da rota
            var materialId = element.getAttribute('data-material-id');

            // Chama a função para abrir o modal
            abrirModal(materialId);
        });
    });
</script>
<script>
    function abrirModal(id) {
        // Faça uma requisição AJAX ou manipule os dados diretamente, dependendo do que preferir
        $.ajax({
            url: '/Material/CompartilharMaterial/' + id, 
            type: 'GET',
            success: function (data) {
                // Preencha o conteúdo do modal com os dados retornados pela action
                $('#modalBody').html(data);
                // Abra o modal
                $('#infoModal').modal('show');
            },
            error: function (error) {
                console.error(error);
            }
        });
    }
</script>
<script>
    document.getElementById("cadastrar-imagem").addEventListener("click", function () {
        // Quando a imagem for clicada, redirecionar para a ação "Create"
        window.location.href = "/Material/Create"; // Substitua "ControllerName" pelo nome real do seu controlador
    });
</script>
<script>
    document.querySelectorAll('.compartilhar-link').forEach(function (element) {
        element.addEventListener('click', function (event) {
            event.preventDefault();

            // Obtém o ID do material da rota
            var materialId = element.getAttribute('asp-route-id');

            // Chama a função para abrir o modal
            abrirModal(materialId);
        });
    });
</script>
<script>
    document.getElementById("historico-imagem").addEventListener("click", function () {
        // Quando a imagem for clicada, redirecionar para a ação "MaterialEnviadoHistorico"
        window.location.href = "/Material/MaterialEnviadoHistorico"; // Substitua "ControllerName" pelo nome real do seu controlador
    });
</script>
<script>
    $(document).ready(function () {
        $("#compartilharMaterialForm").submit(function (event) {
            event.preventDefault();

            var formData = $(this).serialize();

            $.ajax({
                type: "POST",
                url: $(this).attr("action"),
                data: formData,
                success: function (response) {
                    if (response.success) {
                        Swal.fire({
                            title: 'Sucesso!',
                            text: response.message,
                            icon: 'success',
                            timer: 60000,
                            showConfirmButton: false
                        }).then(() => {
                            window.location.href = '/Material/Index';
                        });
                    } else {
                        Swal.fire({
                            title: 'Erro!',
                            text: response.message,
                            icon: 'error',
                            timer: 50000, // Duração do alerta em milissegundos
                            showConfirmButton: false // Remove o botão de confirmação
                        }).then(() => {
                            window.location.href = '/Material/Index';
                        });
                    }
                }
            });
        });
    });
</script>