@model Inveni.ViewModel.MateriaisEnviadosViewModel



<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <div class="d-flex flex-column align-items-center mt-4">
            <h1>Meus Materiais</h1>
        </div>
    </div>
    <div class="col-3"></div>
    <div class="col-3"></div>
    <div class="col-6">
        <div class="d-flex flex-column align-items-center mt-2 mb-1">
            <p class="d-flex align-items-center" style="font-size: 25px" ;>
                <img width="30" height="30" class="ms-2" src="https://img.icons8.com/external-glyph-andi-nur-abdillah/64/007BFF/external-Books-hygge-(glyph)-glyph-andi-nur-abdillah.png" alt="plus" />
            </p>
        </div>
    </div>
        @*<hr/>*@
    </div>
    <div class="col-3"></div>
</div>
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <div class="card">
            <div class="card-body">
                <table id="tabela-materiais-enviados" class="table">
                    <thead>
                        <tr>
                            <th>

                            </th>
                            
                            <th>
                                Enviado por
                            </th>
                            <th>
                                Arquivo
                            </th>
                            
                            <th>
                                Data de envio
                            </th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var materialMatriculaMestre in Model.Matriculas)
                        {
                            var material = materialMatriculaMestre.Material;
                            var mestre = material.Mestre;
                            <tr>
                                <td class="align-middle">
                                    <img src="@Url.Content(mestre.CaminhoFoto)" alt="User Icon" style="height: 50px; border-radius: 50%;" />
                                </td>
                                <td class="align-middle">
                                    @mestre.Nome
                                </td>
                                <td class="align-middle">
                                    @material.NomeArquivo
                                </td>
                                <td class="align-middle">
                                    @materialMatriculaMestre.DataEnviado.ToString("dd/MM/yyyy 'às' HH:mm")
                                </td>   
                                <td class="align-middle">
                                    <a href="@Url.Action("Download", "Material", new { materialId = material.Id })">
                                        <img width="20" height="20" src="https://img.icons8.com/material-sharp/24/007BFF/download--v1.png" alt="Ícone de Download" />
                                    </a>
                                  @*  <a class="btn btn-primary" href="@Url.Action("Download", "Material", new { materialId = material.Id })">Download</a>*@
                                   
                                </td>
                                <td>
                                    <a href="#" class="delete-material" data-material-id="@materialMatriculaMestre.Id">
                                        <img width="20" height="20" src="https://img.icons8.com/ios-filled/50/waste.png" alt="Cadastrar" />
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-2"></div>
</div>

<link rel="stylesheet" href="https://cdn.datatables.net/2.0.3/css/dataTables.dataTables.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>

<script type="text/javascript">
    var js = jQuery.noConflict(true);
    js(document).ready(function () {
        js('#tabela-materiais-enviados').DataTable();
    });

    js(document).on('click', '.delete-material', function (e) {
        e.preventDefault();
        var materialId = js(this).data('material-id');

        Swal.fire({
            title: 'Tem certeza?',
            text: 'Deseja excluir este registro do histórico?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Excluir',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                deleteMaterial(materialId);
            }
        });
    });

    function deleteMaterial(materialId) {
        js.ajax({
            url: '@Url.Action("DeleteMaterialAprendiz", "Material")',
            type: 'POST',
            data: { id: materialId },
            success: function (response) {
                Swal.fire({
                    title: 'Excluído!',
                    text: 'O registro foi excluído com sucesso.',
                    icon: 'success',
                    timer: 1500,
                    timerProgressBar: true,
                    showConfirmButton: false
                });
                setTimeout(function () {
                    location.reload(); // Recarregar a página após a exclusão
                }, 1500);
            },
            error: function (xhr, status, error) {
                Swal.fire({
                    title: 'Erro!',
                    text: 'Ocorreu um erro ao excluir o registro.',
                    icon: 'error'
                });
            }
        });
    }
</script>

@*@foreach (var materialMatriculaMestre in Model.Matriculas)
{
    var material = materialMatriculaMestre.Material;
    var mestre = material.Mestre;

    <div>
        <h3>@material.NomeArquivo</h3>
        <p>Enviado por @mestre.Nome em @materialMatriculaMestre.DataEnviado.ToString("dd/MM/yyyy 'às' HH:mm")</p>

        <!-- Botão de Download -->
        <a class="btn btn-primary" href="@Url.Action("Download", "Material", new { materialId = material.Id })">Download</a>
    </div>
}*@
