@model Inveni.ViewModel.MateriaisEnviadosViewModel



<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <div class="d-flex flex-column align-items-center mt-4">
            <h1>Meus Materiais</h1>
        </div>
    </div>
    <div class="col-3"></div>
    <div class="col-3"></div>
    <div class="col-6">
        <div class="d-flex flex-column align-items-center mt-2 mb-1">
            <p class="d-flex align-items-center" style="font-size: 25px" ;>

                <img width="30" height="30" class="ms-2" src="https://img.icons8.com/external-glyph-andi-nur-abdillah/64/FD7E14/external-Books-hygge-(glyph)-glyph-andi-nur-abdillah.png" alt="plus" />
            </p>
        </div>
    </div>
        @*<hr/>*@
    </div>
    <div class="col-3"></div>
</div>
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <div class="card">
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>

                            </th>
                            
                            <th>
                                Enviado por
                            </th>
                            <th>
                                Arquivo
                            </th>
                            
                            <th>
                                Data de envio
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var materialMatriculaMestre in Model.Matriculas)
                        {
                            var material = materialMatriculaMestre.Material;
                            var mestre = material.Mestre;
                            <tr>
                                <td>
                                    <img src="@Url.Content(mestre.CaminhoFoto)" alt="User Icon" style="width: 25px; height: 25px; border-radius: 50%;" />
                                </td>
                                <td>
                                    @mestre.Nome
                                </td>
                                <td>
                                    @material.NomeArquivo
                                </td>
                                
                                <td>
                                    @materialMatriculaMestre.DataEnviado.ToString("dd/MM/yyyy 'às' HH:mm")
                                </td>
                                <td class="text-right align-items-end text-end">
                                    <a href="@Url.Action("Download", "Material", new { materialId = material.Id })">
                                        <img width="20" height="20" src="https://img.icons8.com/material-sharp/24/FD7E14/download--v1.png" alt="Ícone de Download" />
                                    </a>
                                  @*  <a class="btn btn-primary" href="@Url.Action("Download", "Material", new { materialId = material.Id })">Download</a>*@
                                   @* <a asp-action="Delete" asp-route-id="@item.Id">
                                        <img width="20" height="20" src="https://img.icons8.com/ios-filled/50/waste.png" alt="Cadastrar" />
                                    </a>*@
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-2"></div>
</div>


@*@foreach (var materialMatriculaMestre in Model.Matriculas)
{
    var material = materialMatriculaMestre.Material;
    var mestre = material.Mestre;

    <div>
        <h3>@material.NomeArquivo</h3>
        <p>Enviado por @mestre.Nome em @materialMatriculaMestre.DataEnviado.ToString("dd/MM/yyyy 'às' HH:mm")</p>

        <!-- Botão de Download -->
        <a class="btn btn-primary" href="@Url.Action("Download", "Material", new { materialId = material.Id })">Download</a>
    </div>
}*@
