@model IEnumerable<Inveni.Models.Tematica>

@{
    ViewData["Title"] = "Temáticas";
}

<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <div class="d-flex flex-column align-items-center mt-4">
            <h1>Temáticas</h1>
        </div>
    </div>
    <div class="col-3"></div>
    <div class="col-3"></div>
    <div class="col-6">
        <div class="d-flex flex-column align-items-center mt-2 mb-1">
            <div class="d-flex flex-column align-items-center mt-2 mb-1">
                <p class="d-flex align-items-center">
                    <a asp-action="Create" class="btn btn-outline-primary ml-2 me-2" style="text-decoration: none; font-size: 25px;">Cadastrar</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-3"></div>
</div>

<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <table id="tabela-tematicas" class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Descricao)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Categoria)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Descricao)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Categoria.Descricao)
                                </td>
                                <td class="text-right align-items-end text-end">

                                    <a asp-action="Edit" asp-route-id="@Funcoes.EncodeId(item.Id)" class="mx-3" style="text-decoration: none; color: inherit;">
                                        <img width="20" height="20" src="https://img.icons8.com/ios-glyphs/30/007BFF/pencil--v1.png" alt="Editar" />
                                    </a>
                                   @* <a asp-action="Delete" asp-route-id="@item.Id" class="mx-3">
                                <img width="20" height="20" src="https://img.icons8.com/ios-filled/50/007BFF/trash.png" alt="filled-trash" />

                                    </a>*@
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-3"></div>
</div>


<link rel="stylesheet" href="https://cdn.datatables.net/2.0.3/css/dataTables.dataTables.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>

<script type="text/javascript">
    var js = jQuery.noConflict(true);
    js(document).ready(function () {
        js('#tabela-tematicas').DataTable({
            language: {
                url: '//cdn.datatables.net/plug-ins/2.0.8/i18n/pt-BR.json'
            }
        });
    });
</script>
<script>
    document.getElementById("cadastrar-imagem").addEventListener("click", function () {
        // Quando a imagem for clicada, redirecionar para a ação "Create"
        window.location.href = "/Tematicas/Create"; // Substitua "ControllerName" pelo nome real do seu controlador
    });
</script>